In [1]:
import pandas as pd

In [54]:
df1=pd.read_excel(r"C:\Users\Puneet Kumar\Desktop\FinalFile.xlsx")

In [3]:
df2=pd.read_excel(r"C:\Users\Puneet Kumar\Desktop\code6.xlsx")

In [55]:
df1

,Name,F,C,S,Unnamed: 4,Unnamed: 5
0,1 $ 2,F-LJ2C,C-AZWZ,NaN,NaN,NaN
1,1 $ 2 $ 3,F-LJ18,C-AZWQ,NaN,NaN,NaN
2,1 $ 2 $ 4,F-LJ2A,C-AZWS,NaN,NaN,NaN
3,10th foundation $ 10th foundation $ chemistry ...,F-BTJ5,C-ADOH,NaN,NaN,NaN
4,10th foundation $ 10th foundation $ chemistry ...,F-BTJ3,C-AAJV,NaN,NaN,NaN
...,...,...,...,...,...,...
244098,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPQ,C-AXLA,NaN,NaN,NaN
244099,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPP,C-AXLA,NaN,NaN,NaN
244100,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPR,C-AXLA,NaN,NaN,NaN
244101,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPT,C-AXLA,NaN,NaN,NaN
244102,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPS,C-AXLA,NaN,NaN,NaN

In [5]:
df2

,Chapter \nNo.,Chapter,Alternative Chapter Name,C,Quantity,Y
0,1.0,Knowing Your Numbers,knowing our numbers,C-AJ9G,14220,NaN
1,NaN,NaN,numbers,C-ANLA,7042,NaN
2,2.0,Whole Numbers,पूर्ण संख्याएँ,C-AXN9,1015,NaN
3,NaN,NaN,पूर्णांक,C-AXOB,329,NaN
4,NaN,NaN,पूर्णाक,C-AXOE,2571,NaN
...,...,...,...,...,...,...
208,NaN,NaN,pollution and pollutants,C-AP0Y,599,NaN
209,9.0,useful plants and animals,useful plants and animals,C-AVW3,1042,NaN
210,NaN,NaN,plants in daily life,C-APVQ,176,NaN
211,NaN,NaN,plants: parts and functions,C-APVV,1245,NaN
212,10.0,habitat,habitat,C-AIJG,1018,NaN

In [36]:
codes = df1.groupby(['C','F','Name'])

In [37]:
codes.first()

                                                                   S  \
C      F      Name
C-AA00 F-IXS2 engineering $ bitsat $ logical reasoning $ non ... NaN
       F-IXS3 engineering $ bitsat $ logical reasoning $ non ... NaN
       F-J43L engineering $ bitsat $ logical reasoning $ non ... NaN
C-AA01 F-K4N0 engineering $ bitsat (with biology) $ logical r... NaN
       F-K4N5 engineering $ bitsat (with biology) $ logical r... NaN
...                                                               ..
C-AZYA F-I0IA a $ a50                                            NaN
C-AZYB F-I0G2 a $ a6                                             NaN
C-AZYC F-I0G3 a $ a7                                             NaN
C-AZYD F-I0G4 a $ a8                                             NaN
C-AZYE F-I0G5 a $ a9                                             NaN

                                                                  Unnamed: 4  \
C      F      Name
C-AA00 F-IXS2 engineering $ bitsat $ logical reasoning $ non ...         NaN
       F-IXS3 engineering $ bitsat $ logical reasoning $ non ...         NaN
       F-J43L engineering $ bitsat $ logical reasoning $ non ...         NaN
C-AA01 F-K4N0 engineering $ bitsat (with biology) $ logical r...         NaN
       F-K4N5 engineering $ bitsat (with biology) $ logical r...         NaN
...                                                                      ...
C-AZYA F-I0IA a $ a50                                                    NaN
C-AZYB F-I0G2 a $ a6                                                     NaN
C-AZYC F-I0G3 a $ a7                                                     NaN
C-AZYD F-I0G4 a $ a8                                                     NaN
C-AZYE F-I0G5 a $ a9                                                     NaN

                                                                  Unnamed: 5
C      F      Name
C-AA00 F-IXS2 engineering $ bitsat $ logical reasoning $ non ...         NaN
       F-IXS3 engineering $ bitsat $ logical reasoning $ non ...         NaN
       F-J43L engineering $ bitsat $ logical reasoning $ non ...         NaN
C-AA01 F-K4N0 engineering $ bitsat (with biology) $ logical r...         NaN
       F-K4N5 engineering $ bitsat (with biology) $ logical r...         NaN
...                                                                      ...
C-AZYA F-I0IA a $ a50                                                    NaN
C-AZYB F-I0G2 a $ a6                                                     NaN
C-AZYC F-I0G3 a $ a7                                                     NaN
C-AZYD F-I0G4 a $ a8                                                     NaN
C-AZYE F-I0G5 a $ a9                                                     NaN

[244103 rows x 3 columns]

In [52]:
codes = df1.groupby(['C','F'])
codes.first()

AttributeError: 'list' object has no attribute 'groupby'

In [86]:
df2

,Chapter \nNo.,Chapter,Alternative Chapter Name,C,Quantity,Y
0,1.0,Knowing Your Numbers,knowing our numbers,C-AJ9G,14220,NaN
1,NaN,NaN,numbers,C-ANLA,7042,NaN
2,2.0,Whole Numbers,पूर्ण संख्याएँ,C-AXN9,1015,NaN
3,NaN,NaN,पूर्णांक,C-AXOB,329,NaN
4,NaN,NaN,पूर्णाक,C-AXOE,2571,NaN
...,...,...,...,...,...,...
208,NaN,NaN,pollution and pollutants,C-AP0Y,599,NaN
209,9.0,useful plants and animals,useful plants and animals,C-AVW3,1042,NaN
210,NaN,NaN,plants in daily life,C-APVQ,176,NaN
211,NaN,NaN,plants: parts and functions,C-APVV,1245,NaN
212,10.0,habitat,habitat,C-AIJG,1018,NaN

In [57]:
zz = (df1.Name.str.split('$').str[-1].tolist())

In [58]:
zz

[' 2',
 ' 3',
 ' 4',
 ' atomic properties of elements',
 ' methods of preparation of alcohol',
 ' active & passive voice',
 ' active & passive voice',
 ' adjective',
 ' adjective',
 ' adverb',
 ' adverb',
 ' conditionals',
 ' conditionals',
 ' connectors',
 ' connectors',
 ' determiners',
 ' determiners',
 ' modals',
 ' modals',
 ' noun',
 ' noun',
 ' prepositions',
 ' prepositions',
 ' pronoun',
 ' pronoun',
 ' reported speech',
 ' reported speech',
 ' subject verb concord',
 ' subject verb concord',
 ' tense',
 ' tense',
 ' anagram',
 ' anagram',
 ' cloze test',
 ' cloze test',
 ' error spotting',
 ' error spotting',
 ' fillers',
 ' fillers',
 ' idioms and phrases',
 ' idioms and phrases',
 ' one word substitution',
 ' one word substitution',
 ' ordering of jumbled sentences',
 ' ordering of jumbled sentences',
 ' ordering of jumbled words',
 ' ordering of jumbled words',
 ' phrasal verbs',
 ' phrasal verbs',
 ' reading comprehension',
 ' reading comprehension',
 ' sentence improvement',
 ' sentence improvement',
 ' synonyms & antonyms',
 ' synonyms & antonyms',
 ' arithmetic progressions',
 ' arithmetic progressions',
 ' introduction to airthmatic progressions',
 ' introduction to arithmetic progressions',
 ' introduction to arithmetic progressions',
 ' nth term of an ap',
 ' nth term of an ap',
 ' nulltopic',
 ' nulltopic',
 ' sum of first n terms of an ap',
 ' sum of first n terms of an ap',
 ' algebraic methods of solving a pair of linear equations',
 ' algebraic methods of solving a pair of linear equations',
 ' equations reducible to a pair of linear equations in two variables',
 ' equations reducible to a pair of linear equations in two variables',
 ' graphical method of solution of a pair of linear equations',
 ' graphical method of solution of a pair of linear equations',
 ' introduction to linear equation',
 ' introduction to linear equation',
 ' nulltopic',
 ' nulltopic',
 ' pair of linear equations in two variables',
 ' pair of linear equations in two variables',
 ' division algorithm for polynomials',
 ' division algorithm for polynomials',
 ' geometrical meaning of the zeroes of a polynomial',
 ' geometrical meaning of the zeroes of a polynomial',
 ' introduction to polynomials',
 ' introduction to polynomials',
 ' relationship between zeroes and coefficients of a polynomial',
 ' relationship between zeroes and coefficients of a polynomial',
 ' introduction to probability',
 ' introduction to probability',
 ' probability - a theoretical approach',
 ' probability - a theoretical approach',
 ' introduction to quadratic equation',
 ' introduction to quadratic equation',
 ' nature of roots',
 ' nature of roots',
 ' quadratic equations',
 ' quadratic equations',
 ' solution of a quadratic equation by completing the square',
 ' solution of a quadratic equation by completing the square',
 ' solution of a quadratic equation by factorisation',
 ' solution of a quadratic equation by factorisation',
 " euclid's division lemma",
 " euclid's division lemma",
 ' hcf and lcm',
 ' hcf and lcm',
 ' introduction to real number',
 ' introduction to real number',
 ' revisiting irrational numbers',
 ' revisiting irrational numbers',
 ' revisiting rational numbers and their decimal expansions',
 ' revisiting rational numbers and their decimal expansions',
 ' the fundamental theorem of arithmetic',
 ' the fundamental theorem of arithmetic',
 ' areas of combinations of plane figures',
 ' areas of combinations of plane figures',
 ' areas of sector and segment of a circle',
 ' areas of sector and segment of a circle',
 ' introduction areas related to circles',
 ' introduction areas related to circles',
 ' nulltopic',
 ' nulltopic',
 ' perimeter and area of a circle - a review',
 ' perimeter and area of a circle - a review',
 ' angle subtended by an arc of a circle',
 ' angle subtended by an arc of a circle',
 ' cyclic quadrilaterals',
 ' cyclic quadrilaterals',
 ' introduction to circle and line interactions',
 ' introduction to circles',
 ' introduction to circles',
 ' number of tangents from a point on a circle',
 ' number of tangents from a point on a circle',
 ' tangent to a circle',
 ' tangent to a circle',
 ' construction of a triangle',
 ' construction of tangents to a circle',
 ' construction of tangents to a circle',
 ' division of a line segment',
 ' division of a line segment',
 ' introduction to constructions',
 ' introduction to constructions',
 ' area of a triangle',
 ' area of a triangle',
 ' distance formula',
 ' distance formula',
 ' introduction to coordinate geometry',
 ' introduction to coordinate geometry',
 ' section formula',
 ' section formula',
 ' areas of similar triangles',
 ' areas of similar triangles',
 ' congruence of triangles',
 ' congruence of triangles',
 ' criteria for congruence of triangles',
 ' criteria for congruence of triangles',
 ' criteria for similarity of triangles',
 ' criteria for similarity of triangles',
 ' inequalities in a triangle',
 ' inequalities in a triangle',
 ' introduction to triangles',
 ' introduction to triangles',
 ' pythagoras theorem',
 ' pythagoras theorem',
 ' similar figures',
 ' similar figures',
 ' similarity of triangles',
 ' similarity of triangles',
 ' some more criteria for congruence of triangles',
 ' some more criteria for congruence of triangles',
 ' some properties of a triangle',
 ' some properties of a triangle',
 ' conversion of solid from one shape to another',
 ' conversion of solid from one shape to another',
 ' frustum of a cone',
 ' frustum of a cone',
 ' introduction surface areas and volumes',
 ' introduction surface areas and volumes',
 ' surface area of a combination of solids',
 ' surface area of a combination of solids',
 ' volume of a combination of solids',
 ' volume of a combination of solids',
 ' graphical representation of cumulative frequency distribution',
 ' graphical representation of cumulative frequency distribution',
 ' introduction to statistics',
 ' introduction to statistics',
 ' mean of grouped data',
 ' mean of grouped data',
 ' median of grouped data',
 ' median of grouped data',
 ' mode of grouped data',
 ' mode of grouped data',
 ' probability - a theoretical approach',
 ' graphical representation of cumulative frequency distribution',
 ' introduction to trigonometry',
 ' trigonometric identities',
 ' trigonometric ratios',
 ' trigonometric ratios of complementary angles',
 ' trigonometric ratios of some specific angles',
 ' heights and distances',
 ' introduction to some applications of trigonometry',
 ' introduction to trigonometry',
 ' introduction to trigonometry',
 ' trigonometric identities',
 ' trigonometric identities',
 ' trigonometric ratios',
 ' trigonometric ratios',
 ' trigonometric ratios of complementary angles',
 ' trigonometric ratios of complementary angles',
 ' trigonometric ratios of some specific angles',
 ' trigonometric ratios of some specific angles',
 ' heights and distances',
 ' heights and distances',
 ' introduction to some applications of trigonometry',
 ' introduction to some applications of trigonometry',
 ' areas of similar triangles',
 ' areas of similar triangles',
 ' criteria for similarity of triangles',
 ' criteria for similarity of triangles',
 ' introduction to triangles',
 ' introduction to triangles',
 ' pythagoras theorem',
 ' pythagoras theorem',
 ' similar figures',
 ' similar figures',
 ' similarity of triangles',
 ' similarity of triangles',
 ' alphabetical order',
 ' alphabetical order',
 ' analogy',
 ' analogy',
 ' arithmetical reasoning',
 ' arithmetical reasoning',
 ' blood relations',
 ' blood relations',
 ' calendar',
 ' calendar',
 ' chart logic',
 ' chart logic',
 ' classification',
 ' classification',
 ' clock',
 ' clock',
 ' coding - decoding',
 ' coding - decoding',
 ' completion and formation of figures',
 ' completion and formation of figures',
 ' cube',
 ' cube',
 ' data redundancy',
 ' data redundancy',
 ' data sufficiency',
 ' data sufficiency',
 ' dice',
 ' dice',
 ' direction sense',
 ' direction sense',
 ' dot situation',
 ' dot situation',
 ' embedded figure',
 ' embedded figure',
 ' figure formation and analysis',
 ' figure formation and analysis',
 ' figure matrix',
 ' figure matrix',
 ' figure partition and counting',
 ' figure partition and counting',
 ' logical deduction and reading passage',
 ' logical deduction and reading passage',
 ' logical sequence of words',
 ' logical sequence of words',
 ' mathematical operations',
 ' mathematical operations',
 ' mirror and water images',
 ' mirror and water images',
 ' miscellaneous',
 ' miscellaneous',
 ' missing term in figures',
 ' missing term in figures',
 ' non - verbal analogy',
 ' non - verbal analogy',
 ' non - verbal classification',
 ' non - verbal classification',
 ' non - verbal series',
 ' non - verbal series',
 ' paper cutting',
 ' paper cutting',
 ' paper cutting and paper folding',
 ' paper cutting and paper folding',
 ' pattern perception',
 ' pattern perception',
 ' puzzle',
 ' puzzle',
 ' pyramid',
 ' pyramid',
 ' ranking and ordering',
 ' ranking and ordering',
 ' rule detection',
 ' rule detection',
 ' seating arrangement',
 ' seating arrangement',
 ' sequential output tracing',
 ' sequential output tracing',
 ' alphabet - series',
 ' alphabet - series',
 ' letter repeating - series',
 ' letter repeating - series',
 ' number - series',
 ' number - series',
 ' venn diagram',
 ' venn diagram',
 ' arithmetic progressions',
 ' introduction to airthmatic progressions',
 ' nth term of an ap',
 ' sum of first n terms of an ap',
 ' algebraic methods of solving a pair of linear equations',
 ' equations reducible to a pair of linear equations in two variables',
 ' graphical method of solution of a pair of linear equations',
 ' introduction to linear equation',
 ' pair of linear equations in two variables',
 ' division algorithm for polynomials',
 ' geometrical meaning of the zeroes of a polynomial',
 ' introduction to polnimials',
 ' relationship between zeroes and coefficients oa polynomial',
 ' introduction to probability',
 ' probability - a theoretical approach',
 ' introduction to quadratic equation',
 ' nature of roots',
 ' quadratic equations',
 ' solution of a quadratic equation by completing the square',
 ' solution of a quadratic equation by factorisation',
 ' euclid’s division lemma',
 ' introduction to real number',
 ' revisiting irrational numbers',
 ' revisiting rational numbers and their decimal expansions',
 ' the fundamental theorem of arithmetic',
 ' animals-nervous system',
 ' coordination in plants',
 ' hormones in animals',
 ' accumulation of variation during reproduction',
 ' evolution',
 ' evolution and classification',
 ' evolution should not be equated with progress',
 ' heredity',
 ' speciation',
 ' do organisms create exact copies of themselves',
 ' modes of reproduction used by single organisms',
 ' sexual reproduction',
 ' excretion',
 ' nutrition',
 ' respiration',
 ' transportation',
 ' what are life processes',
 ' an overview of natural resource management',
 ' coal and petroleum',
 ' forests and wild life',
 ' water for all',
 ' why do we need to manage our resources',
 ' eco-system — what are its components',
 ' how do our activities affect the environment',
 ' what happens when we add our waste to the environment',
 ' chemical properties of acids and bases',
 ' common things in all acids and all bases',
 ' salts',
 ' strength of acid or base solutions',
 ' bonding in carbon – the covalent bond',
 ' chemical properties of carbon compounds',
 ' soaps and detergents',
 ' some important carbon compounds – ethanol and ethanoic acid',
 ' versatile nature of carbon',
 ' chemical equations',
 ' effects of oxidation reactions in everyday life',
 ' types of chemical reactions',
 ' chemical properties of metals',
 ' corrosion',
 ' occurrence of metals',
 ' physical properties of metals and non-metals',
 ' reactions of metals and non-metals',
 ' early attempts of the classification of elements',
 ' mendeléev’s periodic table',
 ' the modern periodic table',
 ' democracy be reformed and deepened',
 ' role can an ordinary ciitizen play in deepening democracy',
 ' the idea of democracy shrinking',
 ' the major  challenges to democracy in india',
 ' democracy being constantly designed and redesigned in india',
 ' india become a democracy',
 ' the indian constitution framed',
 ' the salient features of the constitution',
 ' fundamental rights enjoyed by the citizen under the indian constitution',
 ' rights in a constitution',
 ' the independence of the judiciary ensured',
 ' the judiciary protect the fundamental rights of the citizen',
 ' democracy become the most prevalent form of government in our times',
 ' democracy superior to its available alternatives',
 ' every democracy have the same institutions and values',
 ' the alternatives to democracy',
 ' the different ways of defining democracy',
 ' differences',
 ' politics of social division',
 ' similarities and divisions',
 ' democracy expanded in the world in recent times',
 ' democracy expansion changed the world',
 ' expansion changing democracy itself',
 ' towards global democracy',
 ' representatives',
 ' system of competition among political parties',
 " the citizens' participation in electoral politics",
 ' the ways to ensure free and fair elections',
 ' federal system',
 ' how a federalism practised & decentraliisation in india',
 ' meaning of federalism',
 ' what makes india a federal country',
 ' communal divisions affect democracy',
 ' divisions inherent to the working of democracy',
 ' the effect of caste on politics and of politics on caste',
 ' the gender division shaped politics',
 ' independence of judiciary',
 ' lok adalats and public interest litigation',
 ' subordinate courts',
 ' the hight court',
 ' the supreme court',
 ' local government in rural india',
 ' local government in urban india',
 ' municipal corporation',
 ' municipality',
 ' panchayati raj',
 ' the block samitis',
 ' the zila parished',
 ' village panchayat',
 ' preamble',
 ' salient features of the constitution',
 ' the indian constitution',
 ' democracy be judged by its outcomes',
 ' democracy in india',
 ' democracy led  to development',
 ' outcomes can one reasonably expect of democracies',
 ' security and dignity for the people',
 ' sustains democracy in india',
 ' challenges to political parties',
 ' functions and necessities of political parties',
 ' meaning',
 ' national parties',
 ' parties be reformed',
 ' state parties',
 ' role of political parties play in competition and contestation',
 ' social movements come to occupy larger role in politics',
 ' struggles shape democracy in favour of ordinary people',
 ' the major national and regional parties in india',
 ' decentralisation achievement',
 ' democracy accommodate different social groups',
 ' federal division of power in india helped national unity',
 ' power shared in democracies',
 ' council of ministers',
 ' lok sabha',
 ' powers and functions of parliament',
 ' rajya sabha',
 ' the attorney general',
 ' the legislature',
 ' the president',
 ' the prime minister',
 ' the voice - president',
 ' how is the country governed',
 ' parliament do in our democracy',
 ' president, prime minister and council of ministers relate to one another',
 ' the role of the president of india, the  prime minister and the council of minister',
 ' factors causing exploitation of consumers',
 ' how a consumer should be in a market',
 ' how consumer is exploited (one or two simple case studies)',
 ' rise of consumer awareness',
 ' role of government in consumer protection',
 ' critical apprasial of existing development indicators (pci, imr, sr and other income and health indicators)',
 ' growth of ni',
 ' human development indicators (in simple and brief) as a holistic measure of development',
 ' national income and pre-capita income',
 ' the need for health and educational development',
 ' the traditional nation of development',
 ' across the nation',
 ' famines in the past',
 ' overflowing of granaries and people without food',
 ' procurement of foodgrains',
 ' public distribution system',
 ' role of cooperatives in food security (foodgrains, milk and vegetables - ration shops, cooperative shops, two-three examples as case studies)',
 ' role of government in  food security',
 ' source of foodgrains',
 ' the need for self sufficiency',
 ' variety',
 ' development strategy prior to 1991',
 ' different perspectives on globalisation and its impacts on different sectors',
 ' economic reforms 1991',
 ' how india is being globalised and why',
 ' political impacts of globalisation',
 ' state control of industries',
 ' strategies adopted in reform measures (easing of capital flows, migration, investment flows)',
 ' textile goods as an example for elaboration',
 ' what is globalisation',
 ' chit funds and private finance companies',
 ' formal and informal financial institutions for saving and credit',
 ' general introduction',
 ' historical origin',
 ' landlords',
 ' local money lenders',
 ' role of money in an economy',
 ' select one formal institution such as a  nationalized commercial bank and a few informal institutions',
 ' self help groups',
 ' economic activities done by men and women',
 ' introduction of how people become resource/asset',
 ' quality of human resource',
 ' role of health and education',
 ' socio-political implication in simple form',
 ' unemployment as a form of nonutilisation of human resource',
 ' unpaid work and done by women',
 ' absolute poverty (not as a concept but through a few simple examples)',
 ' comparison between countries',
 ' indicators',
 ' steps taken by government for poverty alleviation',
 ' unequal distribution of resources',
 ' who is poor (through two case studies -  rural and urban)',
 ' why people are poor',
 ' education and health',
 ' growth of service sector in india',
 ' importance of service sector in generation employment and income to the nation (with the help of a few case studies)',
 ' india as a major service provider to the world',
 ' the need for public investment',
 ' the role of important infrastructure',
 ' what is service sector (through examples)',
 ' economic transactions of palampore and its interaction with the rest of the world through',
 ' which the  concept of production including three factors of production (land, labour and capital) can be introduced',
 ' contribution of agriculture to national economy - employment and output',
 ' cropping pattern',
 ' distribution and utilization and conservation',
 ' food security',
 ' impact of globalisation',
 ' major crops',
 ' power resources : types of power resources - conventional and non-conventional',
 ' technological and institutional reforms; their impact',
 ' types of farming',
 ' clinate and human life. (one case study to be introduced related with natural disasters)',
 ' factors  influencing the climate',
 ' monsoon - its characteristics',
 ' rainfall and temperature distribution',
 ' seasons',
 ' lakes and seas',
 ' major rivers and tributaries',
 ' measures to control river pollution',
 ' pollution of rivers',
 ' role of rivers in the economy',
 ' different categories',
 ' importance of forest and wild life',
 ' negative factors that cause fearful depletion of flora and fauna',
 ' steps taken for conservation',
 ' types of forests',
 ' india : location',
 ' major physiographic units',
 ' relief',
 ' structure',
 ' airways',
 ' communication and international trade',
 ' inland waterways',
 ' pipelines',
 ' railways',
 ' road transport',
 ' seaport',
 ' communication and trade',
 ' contribution to industries to the national economy',
 ' industrial pollution and degradation of environment',
 ' measures to control degradation. (one case study to be introduced)',
 ' spatial distribution',
 ' transport',
 ' types',
 ' conservation',
 ' distribution',
 ' types of minerals',
 ' use and economic importance of minerals',
 ' distribution as well as altitudinal variation',

In [59]:
spl = pd.DataFrame(zz)

In [60]:
spl

                                         0
0                                        2
1                                        3
2                                        4
3            atomic properties of elements
4        methods of preparation of alcohol
...                                    ...
244098                           द्रवगतिकी
244099                        द्रवस्थैतिकी
244100                          पृष्ठ तनाव
244101                         प्रत्यास्था
244102                             श्यानता

[244103 rows x 1 columns]

In [61]:
df1

,Name,F,C,S,Unnamed: 4,Unnamed: 5
0,1 $ 2,F-LJ2C,C-AZWZ,NaN,NaN,NaN
1,1 $ 2 $ 3,F-LJ18,C-AZWQ,NaN,NaN,NaN
2,1 $ 2 $ 4,F-LJ2A,C-AZWS,NaN,NaN,NaN
3,10th foundation $ 10th foundation $ chemistry ...,F-BTJ5,C-ADOH,NaN,NaN,NaN
4,10th foundation $ 10th foundation $ chemistry ...,F-BTJ3,C-AAJV,NaN,NaN,NaN
...,...,...,...,...,...,...
244098,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPQ,C-AXLA,NaN,NaN,NaN
244099,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPP,C-AXLA,NaN,NaN,NaN
244100,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPR,C-AXLA,NaN,NaN,NaN
244101,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPT,C-AXLA,NaN,NaN,NaN
244102,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPS,C-AXLA,NaN,NaN,NaN

In [62]:
result = pd.concat([df1, spl], axis=1, join="outer")

In [63]:
result

,Name,F,C,S,Unnamed: 4,Unnamed: 5,0
0,1 $ 2,F-LJ2C,C-AZWZ,NaN,NaN,NaN,2
1,1 $ 2 $ 3,F-LJ18,C-AZWQ,NaN,NaN,NaN,3
2,1 $ 2 $ 4,F-LJ2A,C-AZWS,NaN,NaN,NaN,4
3,10th foundation $ 10th foundation $ chemistry ...,F-BTJ5,C-ADOH,NaN,NaN,NaN,atomic properties of elements
4,10th foundation $ 10th foundation $ chemistry ...,F-BTJ3,C-AAJV,NaN,NaN,NaN,methods of preparation of alcohol
...,...,...,...,...,...,...,...
244098,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPQ,C-AXLA,NaN,NaN,NaN,द्रवगतिकी
244099,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPP,C-AXLA,NaN,NaN,NaN,द्रवस्थैतिकी
244100,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPR,C-AXLA,NaN,NaN,NaN,पृष्ठ तनाव
244101,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPT,C-AXLA,NaN,NaN,NaN,प्रत्यास्था
244102,अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...,F-JKPS,C-AXLA,NaN,NaN,NaN,श्यानता

In [78]:
codes = result.groupby(['C','F',0],sort=False,as_index=False).agg(lambda x: set(x))

In [73]:
codes.first()

                                                                                               Name  \
C      F      0
C-AZWZ F-LJ2C  2                                                                              1 $ 2
C-AZWQ F-LJ18  3                                                                          1 $ 2 $ 3
C-AZWS F-LJ2A  4                                                                          1 $ 2 $ 4
C-ADOH F-BTJ5  atomic properties of elements      10th foundation $ 10th foundation $ chemistry ...
C-AAJV F-BTJ3  methods of preparation of alcohol  10th foundation $ 10th foundation $ chemistry ...
...                                                                                             ...
C-AXLA F-JKPQ  द्रवगतिकी                          अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...
       F-JKPP  द्रवस्थैतिकी                       अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...
       F-JKPR  पृष्ठ तनाव                         अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...
       F-JKPT  प्रत्यास्था                        अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...
       F-JKPS  श्यानता                            अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ स...

                                                   S  Unnamed: 4  Unnamed: 5
C      F      0
C-AZWZ F-LJ2C  2                                 NaN         NaN         NaN
C-AZWQ F-LJ18  3                                 NaN         NaN         NaN
C-AZWS F-LJ2A  4                                 NaN         NaN         NaN
C-ADOH F-BTJ5  atomic properties of elements     NaN         NaN         NaN
C-AAJV F-BTJ3  methods of preparation of alcohol NaN         NaN         NaN
...                                               ..         ...         ...
C-AXLA F-JKPQ  द्रवगतिकी                         NaN         NaN         NaN
       F-JKPP  द्रवस्थैतिकी                      NaN         NaN         NaN
       F-JKPR  पृष्ठ तनाव                        NaN         NaN         NaN
       F-JKPT  प्रत्यास्था                       NaN         NaN         NaN
       F-JKPS  श्यानता                           NaN         NaN         NaN

[244103 rows x 4 columns]

In [80]:
codes

,C,F,0,Name,S,Unnamed: 4,Unnamed: 5
0,C-AZWZ,F-LJ2C,2,{1 $ 2},{nan},{nan},{nan}
1,C-AZWQ,F-LJ18,3,{1 $ 2 $ 3},{nan},{nan},{nan}
2,C-AZWS,F-LJ2A,4,{1 $ 2 $ 4},{nan},{nan},{nan}
3,C-ADOH,F-BTJ5,atomic properties of elements,{10th foundation $ 10th foundation $ chemistry...,{nan},{nan},{nan}
4,C-AAJV,F-BTJ3,methods of preparation of alcohol,{10th foundation $ 10th foundation $ chemistry...,{nan},{nan},{nan}
...,...,...,...,...,...,...,...
244098,C-AXLA,F-JKPQ,द्रवगतिकी,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244099,C-AXLA,F-JKPP,द्रवस्थैतिकी,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244100,C-AXLA,F-JKPR,पृष्ठ तनाव,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244101,C-AXLA,F-JKPT,प्रत्यास्था,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244102,C-AXLA,F-JKPS,श्यानता,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}

In [81]:
yt = pd.DataFrame(codes)

In [82]:
yt

,C,F,0,Name,S,Unnamed: 4,Unnamed: 5
0,C-AZWZ,F-LJ2C,2,{1 $ 2},{nan},{nan},{nan}
1,C-AZWQ,F-LJ18,3,{1 $ 2 $ 3},{nan},{nan},{nan}
2,C-AZWS,F-LJ2A,4,{1 $ 2 $ 4},{nan},{nan},{nan}
3,C-ADOH,F-BTJ5,atomic properties of elements,{10th foundation $ 10th foundation $ chemistry...,{nan},{nan},{nan}
4,C-AAJV,F-BTJ3,methods of preparation of alcohol,{10th foundation $ 10th foundation $ chemistry...,{nan},{nan},{nan}
...,...,...,...,...,...,...,...
244098,C-AXLA,F-JKPQ,द्रवगतिकी,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244099,C-AXLA,F-JKPP,द्रवस्थैतिकी,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244100,C-AXLA,F-JKPR,पृष्ठ तनाव,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244101,C-AXLA,F-JKPT,प्रत्यास्था,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}
244102,C-AXLA,F-JKPS,श्यानता,{अभियांत्रिकी $ जे.ई.ई. मेन $ भौतिक विज्ञान $ ...,{nan},{nan},{nan}

In [99]:
#df_merge_col = pd.merge(yt, df2, on='C')

#azx = pd.concat([yt.set_index('C'),df2.set_index('C')], axis=1, join='inner').reset_index()
#df3 = df2.merge(yt, on='C', how='inner')
merged_Frame = pd.merge(yt, df2, on = 'C', how='inner')

In [102]:
merged_Frame = pd.merge(df2, codes, on = 'C', how='inner')

In [103]:
merged_Frame

,Chapter \nNo.,Chapter,Alternative Chapter Name,C,Quantity,Y,F,0,Name,S,Unnamed: 4,Unnamed: 5
0,1.0,Knowing Your Numbers,knowing our numbers,C-AJ9G,14220,NaN,F-A9RK,comparing large numbers,{cbse $ 6th cbse $ mathematics $ arithmetic $ ...,{nan},{nan},{nan}
1,1.0,Knowing Your Numbers,knowing our numbers,C-AJ9G,14220,NaN,F-B50Z,comparing large numbers,{cbse $ 6th cbse $ mathematics $ arithmetic $ ...,{nan},{nan},{nan}
2,1.0,Knowing Your Numbers,knowing our numbers,C-AJ9G,14220,NaN,F-BCGS,comparing large numbers,{cbse $ 6th cbse $ mathematics $ arithmetic $ ...,{nan},{nan},{nan}
3,1.0,Knowing Your Numbers,knowing our numbers,C-AJ9G,14220,NaN,F-A9Q6,estimation of large numbers,{cbse $ 6th cbse $ mathematics $ arithmetic $ ...,{nan},{nan},{nan}
4,1.0,Knowing Your Numbers,knowing our numbers,C-AJ9G,14220,NaN,F-B50K,estimation of large numbers,{cbse $ 6th cbse $ mathematics $ arithmetic $ ...,{nan},{nan},{nan}
...,...,...,...,...,...,...,...,...,...,...,...,...
3054,NaN,NaN,plants: parts and functions,C-APVV,1245,NaN,F-HALA,stem: function,{telangana board $ 6th telangana state board $...,{nan},{nan},{nan}
3055,10.0,habitat,habitat,C-AIJG,1018,NaN,F-HAKX,different types of habitats,{telangana board $ 6th telangana state board $...,{nan},{nan},{nan}
3056,10.0,habitat,habitat,C-AIJG,1018,NaN,F-HAKY,diversity of habitats in telugu states,{telangana board $ 6th telangana state board $...,{nan},{nan},{nan}
3057,10.0,habitat,habitat,C-AIJG,1018,NaN,F-HAKZ,importance of protecting any habitat,{telangana board $ 6th telangana state board $...,{nan},{nan},{nan}
3058,10.0,habitat,habitat,C-AIJG,1018,NaN,F-HAKW,introduction to habitat,{telangana board $ 6th telangana state board $...,{nan},{nan},{nan}

In [104]:
merged_Frame.to_excel(r"C:\Users\Puneet Kumar\Desktop\qqq.xlsx", sheet_name='sheet', index = True)

In [74]:
codes2 = df2.groupby(['C'])

In [75]:
codes2.first()

,Chapter \nNo.,Chapter,Alternative Chapter Name,Quantity,Y
C,,,,,
C-AA38,NaN,None,angles,1032,NaN
C-AA4H,NaN,None,angles and their properties,2141,NaN
C-AAD5,NaN,None,adaptation,1606,NaN
C-AAI4,NaN,None,air and atmosphere,2223,NaN
C-AAI7,4.0,Changes Around Us,air around us,3621,NaN
...,...,...,...,...,...
C-AXWA,NaN,None,लघुतम समापवर्त्य एवं महत्तम समापवर्तक,1452,NaN
C-AXWE,NaN,None,लम्ब और समांतर रेखाएँ,501,NaN
C-AXYO,NaN,None,वाणिज्य गणित,2655,NaN
C-AXYR,NaN,None,वायु,2209,NaN
C-AXZB,NaN,None,वृत्त,266,NaN

In [71]:
result = pd.concat([codes, codes2], axis=1, join="inner")

TypeError: cannot concatenate object of type '<class 'pandas.core.groupby.generic.DataFrameGroupBy'>'; only Series and DataFrame objs are valid