In [2]:
#Revision Class
# Name #Age
#Aman  200
#RAj   10
#Hari  80

In [4]:
import pandas

In [5]:
series1 = pandas.Series([200,10,80],index=['Aman','RAj','Hari'])

In [6]:
series1

Aman    200
RAj      10
Hari     80
dtype: int64

In [7]:
series2 = pandas.DataFrame([200,10,80],index=['Aman','RAj','Hari'])

In [19]:
series2

        0
Aman  200
RAj    10
Hari   80

In [23]:
series2 = pandas.DataFrame([200,10,80],index=['Aman','RAj','Hari'])

In [ ]:
series3 =

In [24]:
series1 = series1DataFrame.rename({'Age':'Name'})

NameError: name 'series1DataFrame' is not defined

In [11]:
series2.head()

        0
Aman  200
RAj    10
Hari   80

In [12]:
series2.head(2)

        0
Aman  200
RAj    10

In [26]:
series3 = pd.DataFrame([series1], columns=['Name',['Age']])

TypeError: unhashable type: 'list'