In [3]:
a=pd.Series()

NameError: name 'pd' is not defined

In [2]:
b=pd.DataFrame()

NameError: name 'pd' is not defined

In [4]:
import pandas as pd

In [5]:
a=pd.Series()

<ipython-input-5-1099f693d1c9>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()

In [6]:
a

Series([], dtype: float64)

In [7]:
b=pd.DataFrame()

In [9]:
print(b)

Empty DataFrame
Columns: []
Index: []

In [12]:
#nameseries
import pandas as pd
n = pd.Series(['Hari Om','Aman','Nitish'])
n

0    Hari Om
1       Aman
2     Nitish
dtype: object

In [14]:
#dfnameage
import pandas as pd
n = pd.Series([15,17,17],index=['Hari Om','Aman','Nitish'])
n

Hari Om    15
Aman       17
Nitish     17
dtype: int64

In [ ]:
#Importing and Exporting Data between CSV 
Files and DataFrame